.login-page2 {
  --login-bg: linear-gradient(-135deg, #c850c0, #4158d0);
  --login-color: #333;
  --login-inner-bg: #fff;
  --login-input: #57b846;
  --login-input-bg: #e6e6e6;
  --login-input-placeholder: #999999;
  --login-btn: #fff;
  --login-btn-bg: #57b846;
  --login-btn-bg-focus: #57b846;
  --login-btn-bg-hover: #333;
  --login-btn-bg-active: #57b846;
}

.login-page2 section button:focus {
  box-shadow: 0 0 0 2px rgba(0, 142, 240, 0.26);
}
.login-page2 section button:hover {
  background-color: #0070bd;
}
.login-page2 section button:active {
  background-color: #00528a;
}

[data-color-mode*='dark'] .login-page3,
.login-page3 {
  --login-bg: #f3f2f2;
  --login-color: #333;
  --login-logo: #fff;
  --login-inner-bg: #fff;
  --login-banner-bg: #fbfbfb;
  --login-valid: #e15549;
  --login-input: #333;
  --login-input-icon: #dddddd;
  --login-input-bg: transparent;
  --login-input-border: rgba(0, 0, 0, 0.13);
  --login-input-placeholder: #999999;
  --login-btn: #fff;
  --login-btn-bg: #b08bf8;
  --login-btn-bg-focus: #b08bf8;
  --login-btn-bg-hover: #b08bf8;
  --login-btn-bg-active: #b08bf8;
}
[data-color-mode*='light'] .login-page3 {
  --login-bg: #f3f2f2;
  --login-color: #333;
  --login-logo: #fff;
  --login-inner-bg: #fff;
  --login-banner-bg: #fbfbfb;
  --login-valid: #e15549;
  --login-input: #333;
  --login-input-icon: #dddddd;
  --login-input-bg: transparent;
  --login-input-border: rgba(0, 0, 0, 0.13);
  --login-input-placeholder: #999999;
  --login-btn: #fff;
  --login-btn-bg: #b08bf8;
  --login-btn-bg-focus: #b08bf8;
  --login-btn-bg-hover: #b08bf8;
  --login-btn-bg-active: #b08bf8;
}
